IoT/NODE-RED/AWS_MQTT_SQL_flow.json
[{"id":"d883181e.2a53f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5448eeaf.92263","type":"mysql","z":"d883181e.2a53f8","mydb":"c0dd159a.26a938","name":"DB/Sensors/Weather","x":360,"y":340,"wires":[["dbdea9e5.80d508"]]},{"id":"dbdea9e5.80d508","type":"debug","z":"d883181e.2a53f8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":360,"wires":[]},{"id":"f0396fb4.3cc11","type":"mqtt in","z":"d883181e.2a53f8","name":"BROKER/Sensors/Weather","topic":"sensors/weather","qos":"0","datatype":"utf8","broker":"1b7de363.8afe2d","x":160,"y":40,"wires":[["4a6dbcfc.e4a8b4"]]},{"id":"4a6dbcfc.e4a8b4","type":"change","z":"d883181e.2a53f8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":180,"wires":[["5448eeaf.92263"]]},{"id":"8f2a9d1b.e8e158","type":"mqtt in","z":"d883181e.2a53f8","name":"BROKER/Sensors/Weather","topic":"sensors/weather","qos":"0","datatype":"utf8","broker":"1b7de363.8afe2d","x":140,"y":480,"wires":[["2d9d9d25.758562"]]},{"id":"2d9d9d25.758562","type":"change","z":"d883181e.2a53f8","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":480,"wires":[["f02798f8.681048"]]},{"id":"f02798f8.681048","type":"mysql","z":"d883181e.2a53f8","mydb":"423acf04.a9f308","name":"","x":720,"y":480,"wires":[["55cd7de7.28886c"]]},{"id":"55cd7de7.28886c","type":"debug","z":"d883181e.2a53f8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":620,"wires":[]},{"id":"c0dd159a.26a938","type":"MySQLdatabase","name":"DB","host":"54.199.28.175","port":"3306","db":"Sensors","tz":"","charset":"UTF8"},{"id":"1b7de363.8afe2d","type":"mqtt-broker","name":"sensors/weather","broker":"54.199.28.175","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"423acf04.a9f308","type":"MySQLdatabase","name":"DB LOCAL BACKUP","host":"192.168.1.166","port":"3306","db":"Sensors","tz":"","charset":"UTF8"}]
